#question-input {
  padding: 0 45px;
  font-size: 14px;
  line-height: 1.5;
  height: 30px;
  vertical-align: middle;
  margin-top: 0;
  resize: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: whitesmoke;
  overflow-y: scroll;
  text-align: left;
}