.comments-container {
  width: 80%;
  margin: 50px auto;
}

.add-comment-section {
  display: flex;
  align-items: center;
}

#comment-input {
  flex-grow: 1;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  resize: none;
}

.add-btn-section {
  margin-left: 10px;
}

.add-btn {
  margin: 16px;
  background-color: #28d9c1;
  color: black;
  font-weight: 600;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  border: 1px solid lightgray;
  border-radius: 18px;
  margin-top: 24px;
  bottom: 0;
}

.add-btn:hover {
  background-color: #e60022;
  color: whitesmoke;
  box-shadow: 0 16px 16px rgba(0,0,0, 0.2);
  border: 0.5px solid black;
  font-weight: 800;
}