.comments-container {
  width: 80%;
  margin: 50px auto;
}

.add-comment-section {
  display: flex;
  align-items: center;
}

.comment-input {
  flex-grow: 1;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  resize: none;
}

.add-btn-section {
  margin-left: 10px;
}

.add-btn {
  padding: 10px 20px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #1e88e5;
}