.card-photo-div {
  border: 2px solid orange;
  width: 16%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-photo-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 8px;
  margin-top: 16px;

}

.card-properties {
  border: 2px solid blue;
  width: 100%;
}

.card-content {
  border-top: 1px solid black;
  margin-top: 12px;
}